:root {
  --dropdown-width: 200px;
}

// ================================= TablePage ===============================
.filter-text {
  font-size: 1.125rem;
  color: #000000;
  margin-right: 5px;
}

.custom-dropdown {
  position: relative;
  cursor: pointer;
}

.custom-dropdown .dropdown-label {
  margin-left: 10px;
}

.custom-dropdown .selected-option {
  margin-left: 10px;
  border: 1px solid #0a0a0a;
}

.custom-dropdown .selected-option,
.custom-dropdown .dropdown-options,
.custom-dropdown .calendar-options {
  width: var(--dropdown-width);
}

.selected-option {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 250px;
  height: 32px;
}

.arrow-icon {
  margin-left: auto;
  margin-right: 10px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  z-index: 1000;
}

.calendar-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  z-index: 1000;
}

.dropdown-label {
  margin-bottom: 4px;
  font-size: 14px;
  color: #000000;
}

.option {
  padding: 8px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.employee-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-actions {
  display: flex;
  align-items: center;
}

.q-table th.sortable {
  color: white;
}

.q-table thead tr {
  background: teal;
}

.actions-menu {
  position: absolute;
  top: 0;
  left: -150px;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 176px;
}

.actions-menu q-btn {
  margin-bottom: 8px;
}

.form-header {
  display: flex;
  align-items: center;
}
.form-profile {
  font-size: 1.2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  margin-bottom: 16px;
}

.form-label {
  margin-right: 10px;
}
.custom-textarea,
.custom-input {
  width: 456px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid black;
  padding-left: 12px;
}

.custom-textarea {
  height: 168px;
}

.buttons {
  margin-right: 330px;
  margin-top: 16px;
}

.ellipsis-menu {
  position: relative;
}
.edit-delete-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  z-index: 1000;
}
