<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <q-page>
      <main>
        <div class="dashboard">
          <p class="text-h5 text-bold q-pt-lg text-teal">Dashboard</p>
          <section class="row" style="grid-gap: 16px">
            <q-card
              v-for="card in cards"
              :key="card.id"
              class="col cursor-pointer"
              style="height: 15rem"
              @click="navigateToTable"
            >
              <q-card-section>
                <div class="text-h6">{{ card.title }}</div>
              </q-card-section>
              <q-card-section>
                {{ card.description }}
              </q-card-section>
            </q-card>
          </section>
        </div>
      </main>
    </q-page>
  </transition>
</template>

<style lang="scss" scope>
@import "./styles/Dashboard.scss";
</style>

<script src="./scripts/Dashboard.js"></script>
