<template>
  <q-page>
    <main>
      <div class="employee-list-container">
        <p class="text-h5 text-bold q-pt-lg text-teal">Employee List</p>
        <div class="employee-actions">
          <q-btn
            label="Add employee"
            color="teal"
            @click="navigateToForm"
            rounded
            style="height: 32px"
          />

          <div style="position: relative; margin-left: 10px">
            <input
              type="text"
              v-model="searchInput"
              placeholder="  Search..."
              class="search-input"
              style="
                width: 184px;
                height: 32px;
                border-radius: 20px;
                padding-left: 36px;
              "
            />
            <q-icon
              name="search"
              class="search-icon"
              @click.stop.prevent
              style="
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
              "
            ></q-icon>
          </div>
        </div>
      </div>
      <section class="row" style="grid-gap: 16px">
        <div class="q-pa-md">
          <div class="q-gutter-md row align-items-center">
            <p class="filter-text text-center">Filters:</p>

            <!-- Custom dropdown -->
            <div class="custom-dropdown" @click="toggleDropdown">
              <div class="selected-option">
                <p class="dropdown-label">{{ selectedOption ? "" : "All" }}</p>
                {{ selectedOption }}
                <q-icon name="arrow_drop_down" class="arrow-icon" />
              </div>
              <div v-if="isDropdownOpen" class="dropdown-options">
                <div
                  v-for="option in options"
                  :key="option"
                  @click="
                    selectOption(option);
                    toggleDropdown();
                  "
                  class="option"
                >
                  {{ option }}
                </div>
              </div>
            </div>

            <!-- Custom dropdown with calendar icon -->
            <div class="custom-dropdown" @click="toggleCalendar">
              <div class="selected-option">
                <p class="dropdown-label">
                  {{ selectedDate ? "" : "Date" }}
                </p>
                {{ selectedDate }}
                <q-icon name="event" class="arrow-icon" />
              </div>
              <div v-if="isCalendarOpen" class="calendar-options">
                <q-date v-model="selectedDate" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <!-- Table -->
        <q-table :rows="tableData" :columns="columns" row-key="id">
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width v-for="col in columns" :key="col.name">
                <template v-if="col.field !== 'ellipsis'">
                  <span v-if="String(props.row[col.field]).length > 20">
                    {{ String(props.row[col.field]).substring(0, 20) + "..." }}
                  </span>
                  <span v-else>
                    {{ props.row[col.field] }}
                  </span>
                </template>
                <template v-else>
                  <q-btn
                    @click="toggleActionsMenu(props.row)"
                    icon="more_vert"
                    flat
                  />
                  <!-- Actions dropdown menu -->
                  <div v-if="props.row.showActions" class="actions-menu">
                    <q-btn
                      @click="editEmployee(props.row)"
                      label="Edit"
                      color="black"
                      flat
                    />
                    <q-btn
                      @click="deleteEmployee(props.row)"
                      label="Delete"
                      color="black"
                      flat
                    />
                  </div>
                </template>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </section>
    </main>
  </q-page>
</template>

<script src="./scripts/Table.js"></script>

<style lang="scss" scope>
@import "./styles/Dashboard.scss";
</style>
