<template>
  <q-layout view="lHh Lpr lFf" class="bg-grey-2">
    <q-header>
      <q-toolbar class="row justify-between bg-grey-2 q-pa-lg">
        <!-- Search Input -->
        <div style="margin-left: 10px; width: 500px">
          <q-input
            dark
            dense
            standout
            label="Search Filter..."
            v-model="searchInput"
            input-class="text-left"
            color="black"
            label-color="black"
            class="search-filter"
            style="border: 1px solid black"
          >
            <template v-slot:prepend>
              <q-icon v-if="searchInput === ''" name="search" />
              <q-icon
                v-else
                name="clear"
                class="cursor-pointer"
                @click="searchInput = ''"
              />
            </template>
          </q-input>
        </div>

        <!-- icons -->
        <div class="text-black">
          <q-icon
            class="q-mr-md"
            style="font-size: 1.5rem"
            name="notifications"
          />
          <q-icon style="font-size: 2rem" name="account_circle" />
        </div>
      </q-toolbar>
    </q-header>

    <!-- SIDE BAR -->
    <q-drawer
      v-model="drawer"
      show-if-above
      :mini="true"
      :width="104"
      :breakpoint="500"
      :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-white'"
    >
      <q-list
        padding
        class="column justify-between items-center"
        style="height: 100%"
      >
        <q-item>
          <q-item-section avatar>
            <q-icon style="font-size: 30px" name="diamond" />
          </q-item-section>
        </q-item>
        <div style="width: 100%">
          <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-icon style="font-size: 30px" name="home" />
            </q-item-section>
          </q-item>

          <q-item active clickable v-ripple>
            <q-item-section avatar>
              <q-icon style="color: black; font-size: 30px" name="menu" />
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-item-section avatar>
              <p class="q-ma-none">Menu</p>
            </q-item-section>

            <q-item-section> Send </q-item-section>
          </q-item>
        </div>
      </q-list>
    </q-drawer>

    <q-page-container class="row q-mx-lg" style="grid-gap: 24px">
      <aside class="bg-white col-2 q-pa-md" style="border-radius: 1rem">
        <p class="text-h5 text-bold">Menu</p>
        <q-list>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon name="account_balance" />
            </q-item-section>
            <q-item-section>Menu 1</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon name="groups" />
            </q-item-section>
            <q-item-section>Menu 2</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon name="legend_toggle" />
            </q-item-section>
            <q-item-section>Menu 3</q-item-section>
          </q-item>
        </q-list>
      </aside>
      <router-view class="col bg-white q-pa-md" style="border-radius: 1rem" />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",

  setup() {
    const drawer = ref(false);
    const searchInput = ref("");

    return {
      drawer,
      searchInput,
    };
  },
});
</script>
